body{
    background-color: #e8c299;
    font-family: Arial;
    height: 100%;
}

button{
    background-color: #bed0e8;
    border-color:rgb(239, 239, 239);
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border:1px solid black ;    
}

#ni{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}

#points{
    text-align: right;
    padding-right: 30px;
}

#htd{
    padding-top: 1px;
    padding-bottom: 1px;
}

#h{
    background-color:darkslategray;
    color:white ;
    text-align: center;
    color:;
}

